html, body {
  overscroll-behavior: none;
}

.centered-both {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.centered-horizontally {
  display: flex;
  justify-content: center;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.error{
  width:80%;
  background-color: #ffffff;
  padding:20px;
  border:1px solid #eee;
  border-radius: 3px;
  margin:10px auto;
  font-size: 16px;
  border-left-color: #d9534f;
  border-right-color: #d9534f;
  background-color: rgba(217, 83, 79, 0.1);
  color: #d9534f;

  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: text;
}

.top-error {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
}

.unlocked {
  font-size: 13px;
}
