<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="modern-normalize.min.css" />
    <link rel="stylesheet" href="test-styles.css" />
    <link rel="stylesheet" href="lucide/font/lucide.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Citadel</title>
  </head>

  <body>
    <div class="locked-vault">
      <div class="card">
        <i class="icon-fingerprint icon-super-large" alt="Locked"></i>

        <button
          hx-post="command/unlock"
          hx-swap="outerHTML"
          hx-target="#main-root"
          hx-trigger="click"
          hx-vals='{"password": ""}'
          class="button-action button-unlock"
          style="margin-top: 16px; width: 100%;"
        >Unlock with biometrics</button>
      </div>
      <div class="card">
        <i class="icon-lock icon-super-large" alt="Locked"></i>

        <form
          hx-post="command/unlock"
          hx-swap="outerHTML"
          hx-target="#main-root"
          hx-trigger="submit"
        >
          <div class="card-row-header" style="margin-top: 16px;">
            <input
              id="password-field"
              name="password"
              type="password"
              placeholder="Main password"
              autocomplete="password"
              oninput="document.querySelector('.error')?.remove()"
            >

          </div>

          <button class="button-plain button-unlock" style="margin-top: 8px; width: 100%;">Unlock with password</button>
        </form>
      </div>

      <div class="error hidden">
        <p>Invalid password</p>
      </div>

      <div class="card change-vault">
        <p>~/Dropbox/Citadel</p>
        <button
            hx-get="command/choose_vault_directory"
            hx-swap="outerHTML"
            hx-target="#main-root"
            class="button-plain"
            style="cursor: pointer"
        >
          Change vault directory
        </button>
      </div>
    </div>
  </body>
</html>
